/* src/styles/HomePage.css */

.home-page {
  background-color: #e0e0e0; /* Ajusta la altura al 100% de la ventana */
  align-items: center; /* Para centrar contenido verticalmente */
  justify-content: center; /* Para centrar contenido horizontalmente */
  color: black; /* Cambia el color del texto según tu preferencia */
  text-align: center; /* Centra el texto */
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: -8px 10px 10px 0px rgba(0,0,0,0.75);
}
